/* .comments__outer {
    max-height: 88px;
    background-color: orchid;
    overflow-y: auto;
} */

.personalPost-container {
    width: 612px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
}

.commentsFeed-container {
    width: 612px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
}


.addComments {
    height: 42px;
    width: 612px;
    margin: 4px 0px 0px;
    display: flex;
    flex-direction: row;
    /* background-color: #ffffff; */
    /* margin-bottom: 16px; */
}

.form__comment {
    width: 551.66px;
    padding: 0px 8px;
    border: none;
    /* background-color: orange; */
}

.post__button {
    color: #0095F6;
    border: none;
    background-color: #ffffff;
    padding: 10px;
    /* background-color: orange; */
}

/* .comments__outer {

} */