.footer__container {
    padding: 12px;
}

.footer__github {
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    padding: 4px;
}