.profile__info--outer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* max-width: 975px; */
    align-items: center;
    padding: 16px;
    text-align: center;
    /* border: 1px solid black; */
    width: 935px;
    margin: 0 auto 0 auto;
    margin-top: 100px;
}

.profile__main--contianer {
    width: 291.67px;
    height: 150px;
}

.profile__main--contianer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile__info {
    width: 600px;
    height: 150px;
    /* background-color: darkred; */
    padding: 8px;

}

.profile__header {
    width: 613.33px;
    height: 40px;
    margin: 0px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile__username {
    color: #262626;
    margin: -5px 0px -6px;
    font-size: 28px;
}

.profile__edit {
    width: 93px;
    height: 30px;
    padding: 5px 9px;
}

.profile__logout {
    height: 30px;
    width: 30px;
    
}

.profile__details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 0px 20px;
}

.profile__mid {
    font-size: 16px;
    color: #262626;
}

.profile__lower {
    display: flex;
    flex-direction: column;
    /* text-align: left; */

}
.profile__posts--outer {
    max-width: 935px;
    margin: 0 auto 0 auto;
}

.profile__posts--container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 24px;
    position: relative;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    margin-left: -10px;
}

.profile__post {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-wrap: normal;
    padding: 8px;
    overflow-wrap: normal;
}

.profile__post--img {
    height: 293px;
    width: 293px;
}


.profile__post--info {
    display: flex;
    flex-direction: row;
    padding: 4px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}

.profile__post--like {
    margin: 0px 8px;
    padding: 4px;
}

.profile__post--comment {
    padding: 4px;
    margin: 0px 12px;
}

.profile__link {
    text-decoration: none;
}

.profile__heart--icon {
    color: red;
}

